/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boolzap-primary: #eaeaea;
    --boolzap-secondary: #009688;
    --boolzap-light: #dbdbd4;
    --boolzap-lighter: #ffffff;
    --boolzap-notification: #8edafc;
    --boolzap-message-sent: #d5f9ba;
    --boolzap-text-gray: gray;
    --sb-track-color: #bfbcbc;
    --sb-thumb-color: #009688;
    --sb-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    padding: 20px 0;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 0%, #009688 120px, #eaeaea 120px, #eaeaea 100%);
}



body::-webkit-scrollbar,
.contacts::-webkit-scrollbar,
#site-main::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track,
.contacts::-webkit-scrollbar-track,
#site-main::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb,
.contacts::-webkit-scrollbar-thumb,
#site-main::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
    .contacts {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);

    }

    #site-main {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }

    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* endregion common */

/* region utilies */
#container {
    margin: auto;
    width: 80%;
    max-width: 1920px;
    height: 95vh;
    display: flex;
    position: relative;
    box-shadow: 2px 2px 15px black;
}

.d-flex {
    display: flex;
    align-items: center;

}

.grow-1 {
    flex-grow: 1;
}

.posi-rela {
    position: relative;
}

.posi-abso {
    position: absolute;
}

/* endregion utilies */

/* region left-container */

.left {
    width: 500px;
    height: 100%;
    background-color: var(--boolzap-lighter);

}

.left>* {
    width: 100%;
}

/* region main-menu-left */

.main-menu {
    background-color: var(--boolzap-light);
    padding: 10px 20px;
    justify-content: space-between;
    border-right: 1px solid gray;

    & .image-main-menu>img {
        width: 50px;
        border-radius: 50%;
    }

    & .option-main-menu>a {
        color: var(--boolzap-text-gray);

        & i {
            font-size: 25px;
            padding: 0 7px;
        }
    }

}

/* endregion main-menu-left */

/* region notificasion-left */

.notificasionsn {
    background-color: var(--boolzap-notification);
    padding: 15px;
    gap: 1rem;

    & .symbol-no-notification {
        padding: 1rem;
        border-radius: 50%;
        background-color: var(--boolzap-lighter);

        & a {
            color: var(--boolzap-notification);

            & i {
                font-size: 20px;
            }
        }
    }

    & .info-notification>a {
        color: var(--boolzap-text-gray);
    }
}

/* endregion notificasion-left */

/* region search-left */

.search {
    background-color: var(--boolzap-light);

    & .container-search {
        padding: 5px;
        display: flex;
        width: 100%;

        & .text-search {
            width: 100%;

            gap: 1rem;
            background-color: var(--boolzap-lighter);

            & .btn-search>button {
                border: none;
                background-color: var(--boolzap-lighter);
                padding-left: 5px;
                cursor: pointer;

                & i {
                    font-size: 20px;
                    color: var(--boolzap-light);
                    border: none;
                }
            }

            & input[type="search"] {
                padding-left: 5px;
                width: 100%;
                background-color: var(--boolzap-lighter);
                line-height: 40px;
                font-size: 19px;
                border: none;

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
}

/* endregion search-left */

/* region contacts-left */

.contacts {
    overflow-y: auto;
    height: calc(100% - 206px);
    scroll-behavior: smooth;

    & .contact {
        width: 100%;
        padding: 10px;
        gap: 1rem;
        border-bottom: 1px solid var(--boolzap-light);


        & .contact-image>img {
            width: 50px;
            border-radius: 50%;
            filter: grayscale(1);
            transition: 0.2s linear;

        }

        & .contact-info>span {
            color: var(--boolzap-text-gray);


        }

        & .contact-info {
            cursor: pointer;

            & .time {

                top: 10px;
                right: 10px;
                color: var(--boolzap-text-gray);
            }


        }


        &:hover .contact-image>img {
            filter: grayscale(0);
        }
    }
}

/* end region contacts-left */

/* endregion left-container */

/* region right-container*/

.right {
    width: 100%;
    height: 100%;
}

/* region header-right */

#site-header {
    width: 100%;
    background-color: var(--boolzap-light);

    & .container-header {
        padding: 5px 0;
        margin: auto;
        width: 95%;

        & .left-header {
            gap: 1rem;

            & .image-header>img {
                width: 60px;
                border-radius: 50%;
            }
        }

        & .right-header {
            text-align: end;

            & a {
                color: var(--boolzap-text-gray);

                & i {
                    font-size: 20px;
                    padding: 0 7px;
                }
            }
        }
    }

}

/* region header-right */

/* region main-right */

#site-main {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 164px);
    padding: 50px;
    overflow-y: auto;

    & .container-messages {
        width: 100%;
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth;

        & .message {
            padding: 30px 10px;
            border-radius: 1rem;
            max-width: 400px;
            width: 80%;
            display: flex;
            margin: 10px 0;

            & .time-message {
                right: 5px;
                bottom: 10px;
                color: var(--boolzap-text-gray);

                >span {
                    padding-right: 5px;
                }
            }

            /* dropdown */

            & .drowdown>a {
                color: var(--boolzap-text-gray);

                >i {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                }

            }

            & .drowdown>ul {
                display: none;
                border-radius: 3px;
                width: 200px;
                top: 20px;
                right: 0;
                background-color: var(--boolzap-lighter);
                list-style: none;
                z-index: 2;
                box-shadow: 1px 1px 10px gray;

                & li {
                    padding: 15px 30px;
                    cursor: pointer;
                    transition: 0.2s linear;

                    & a {
                        margin: auto;
                        text-decoration: none;
                        color: black;
                    }
                }
            }

            /* enddropdown */

            /* hover dropdown */

            & .drowdown:hover>.option-message {
                display: block;

            }

            .option-message>li:hover {
                background-color: var(--boolzap-light);
            }

            /* endhover dropdown */


        }

        & .message-arrived {
            background-color: var(--boolzap-lighter);
            align-self: flex-start;
        }

        & .message-sent {
            background-color: var(--boolzap-message-sent);
            align-self: flex-end;
        }




    }

}

/* endregion main-right */

/* region footer-right */

#site-footer {
    background-color: var(--boolzap-light);
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 0;
    position: absolute;

    & .container-metodology-message {
        width: 95%;
        margin: auto;
        height: 100%;
        gap: 1rem;



        & .emonji>a,
        .vocal-message>a {
            color: var(--boolzap-text-gray);


            & i {
                font-size: 25px;
                transition: 0.2s linear;
            }


        }


        & .dropdown_emonji {
            display: none;
            border-radius: 5px;

            &>ul {

                top: -108px;
                background-color: var(--boolzap-lighter);
                width: 150px;
                list-style: none;
                flex-wrap: wrap;
                padding: 5px;


                & li {
                    width: calc((100% / 12) * 4);
                    padding: 5px;



                    & :hover {
                        transition: 0.2s linear;
                        background-color: var(--boolzap-light);
                    }
                }

                & a {
                    text-decoration: none;
                    font-size: 25px;
                }
            }
        }




        & .emonji:hover .dropdown_emonji {
            transition: 1s linear;
            display: block;

        }

        & .emonji>a:hover {
            color: green;
        }

        & .vocal-message>a:hover {
            color: red;
        }


        & .write-message {
            flex-grow: 1;

            & input {
                padding: 10px;
                border-radius: 0.5rem;
                width: 100%;
                border: none;

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
}

/* endregion footer-right */

/* endregion right-container*/

/* media query max-width 991px */
@media screen and (max-width: 991px) {

    .notificasionsn,
    .search,
    .option-main-menu,
    .contact-info,
    #add_contact_text {
        display: none;
    }

    .contact-image,
    .add_image {
        margin: auto;
    }

    .left {
        width: 90px;
    }

    #container {
        height: 100vh;
        width: 100vw;
    }

    .contacts {
        height: calc(100% - 74px);
    }

    body {
        padding: 0;
    }
}

/* endmedia query max-width 991px */

/* media query max-width 540px */
@media screen and (max-width: 540px) {


    .left,
    .vocal-message,
    .emonji,
    .right-header {
        display: none;
    }

    .write-message>input {
        border-radius: 0.25rem;
    }
}

/* endmedia query max-width 540px */

.visible-hidden {
    display: none;
}

.add_contact {
    width: 100%;
    padding: 10px;

    border-bottom: 1px solid var(--boolzap-light);
    justify-content: center;
    transition: 0.2s linear;

    #add_contact_text {
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
    }

    &>* {
        cursor: pointer;

    }

    &:hover {
        background-color: var(--boolzap-light);


    }

    &:hover #add_contact_text {
        background-color: white;
    }

}

#new_contact {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.611);


    .container_create {
        min-width: 300px;
        width: 30%;
        background-color: white;
        opacity: 1;
        padding: 20px;
        border-radius: 5px;

        .header_new_contact {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            color: var(--boolzap-secondary);

            &>a {
                font-size: 25px;
                color: var(--boolzap-secondary);
            }
        }

        .input_create {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            gap: 5px;

            &>#name,
            &>#lastname {
                border: none;
                padding: 0.25rem 0.5rem;
                outline-color: var(--boolzap-secondary);
                border-radius: 3px;
                line-height: 20px;
                background-color: var(--boolzap-light);
            }
        }

        .container_input_file {
            padding: 10px 0px;

            &>input[type="file"] {
                display: none;
            }

            &>.label_file {
                border-radius: 4px;
                color: white;
                background-color: #009688;
                padding: 0.35rem 0.5rem;
            }

        }

        .btn_create {
            display: flex;
            justify-content: center;

            &>button {
                padding: 0.5rem 0.75rem;
                border-radius: 10px;
                color: white;
                background-color: var(--boolzap-secondary);
                border: none;
            }
        }
    }

}



#delete_contact>i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
        color: red;
    }
}